{{!------  Title/Header ------}}
<div class="row">
  <h1 class="title"> Eat-Da-Burger</h1>
  <img src="/assets/images/truck300.png" alt="burger truck with a happy burger on the top">
</div>

{{!------  Submit Own Burger Form ------}}
.<div class="row form-wrapper">
  <form>
    <label for="addburger">Enter your own favourite burger and click "ORDER NOW" button.</label>
    <textarea placeholder="My favourite burger ..." id="addburger" name="devoured" class="u-full-width"></textarea>
    <button class="order-btn" type="submit">Order Now</button>
  </form>
</div>

<div class="row">
  {{!------  List of burgers to devour ------}}
  <div class="six columns list">
    <div>
      <h4> Choose a burger to devour
        <i class="fa fa-cutlery utensil" aria-hidden="true"></i>
      </h4>
    </div>
    {{!-- Dynamically generated list --}}
    <div>
      <ul class="list">
        {{#each burgers}}
        {{#unless devoured}}
        <li class="list-item" data-id="{{this.id}}">
          {{this.id}}. {{this.burger_name}}
          <button type="submit" class="u-pull-right devour-btn" data-id="{{this.id}}" data-devoured="false"><img
              src="/assets/images/2.png" alt="{{this.burger_name}}">
          </button>
      </ul>
    </div>
  </div>
  {{!------  Burgers devoured ------}}
  <div class="six columns list">
    <h4> Burgers devoured
      <i class="fa fa-smile-o smile" aria-hidden="true"></i>
    </h4>
    {{!-- Dynamically generated list --}}
    <ul class="list devoured">
        {{#each burgers}}
        {{#if devoured}}
        <li class="list-item" data-id="{{this.id}}">
          {{this.id}}. {{this.burger_name}}
        </li>
        {{/if}}
        {{/each}}
    </ul>
  </div>
</div>



{{!------  Footer  ------}}
<footer id="footer" class="page-footer">
  <p class="copyright">
    Made with ❤️ Copyright &copy; 2020<a href="https://imbingz.github.io/Responsive-Website-Portfolio/"> Bing Z </a>
  </p>
</footer>